.navbar{
    background-color: #0e0b16 !important;
   
}

.nav-link{
    color: white !important;
    font-weight: bold;
}

#home{
    text-align: center;
    background: url(images/home.jpg); 
    height: 100vh;
    background-size:cover;
    padding: 150px;
    color: white;
  
}
h1{
    padding: 30px 30px;
}
#video{
    padding-top: 100px;
  
}

#cardss{
  flex-direction: row;
    margin: auto;
}

.col-sm-4{

margin: 10px
}

#pricing{
    background-color: #0e0b16;
    color: white;
}

@media only screen and (max-width: 600px) {
    #contact, #features {
      background-color: gray;
    }
  }